@import "./About.scss";
@import "./Header.scss";
@import "./Links.scss";

.user__container {
    height: 100vh;
    max-width: 400px;
    display: flex;
    justify-content: center;

    hr {
        border-color: var(--gray);
    }

    .details__container {
        margin-top: 208px;
    }
}
