.admin_add_link__container {
    margin-bottom: 2rem;

    .btn__container {
        max-width: 120px;
        margin: auto;
        background: var(--primary);
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }

    .add_link__container {
        .input__container {
            margin-left: 10.2%;

            .details-group {
                display: grid;
                grid-template-columns: 90% 10%;
                margin-bottom: 0.5rem;

                span {
                    margin: auto;
                    cursor: pointer;
                }
            }
        }
    }
}
