@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

@import "./components/Admin/Admin.scss";
@import "./components/Home/Home.scss";
@import "./components/User/User.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--gray-dark);
    color: var(--light);
    font-family: "Karla", sans-serif;
    user-select: none;
}
